{% extends 'base.html' %}

{% block body %}
  <div class="featured-stats">
    <div class="stats-container clearfix" style="margin-bottom: 10px;">
      <div class="featured-stat">
        <h4 class="stat-title"><a href="#" class="secondary">Kill : Death Ratio</a></h4>
        <p class="stat-description muted">Best K:D - All Time <a href="#">more &raquo;</a></p>
        <div class="stat-chart-container"><img src="http://placehold.it/293x260" alt="placeholder"></div>
      </div>
      <div class="featured-stat">
        <h4 class="stat-title"><a href="#" class="secondary">Fastest Grab</a></h4>
        <p class="stat-description muted">Highest Speed Grab (Per Map) <a href="#">more &raquo;</a></p>
        <div class="stat-chart-container"><img src="http://placehold.it/293x260" alt="placeholder"></div>
      </div>
      <div class="featured-stat">
        <h4 class="stat-title"><a href="#" class="secondary">Max Slayer</a></h4>
        <p class="stat-description muted">Total Kills - All Time <a href="#">more &raquo;</a></p>
        <div class="stat-chart-container"><img src="http://placehold.it/293x260" alt="placeholder"></div>
      </div>
    </div>
    <div style="text-align: right;"><a href="#" class="btn btn-tertiary">See More Charts &raquo;</a></div>
  </div>
  <div class="news">  
    <article class="article">
      <header>
        <hgroup>
          <h1 class="article-title"><a class="secondary" href="#">BiackWaitz Renames Himself</a></h1>
          <h5 class="article-subtitle">The famous player is going to redefine his image.</h5>
        </hgroup>
        <div class="article-author-info muted">by <span class="article-author">Zerack</span> - <span class="article-pubdate">May 6, 2013, 9:31AM EDT</span></div>        
      </header>
      <div class="article-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Phasellus convallis</a> sagittis massa, non placerat nunc porttitor eget. Etiam porta erat eu turpis egestas eu gravida lectus volutpat. Proin mattis sollicitudin ullamcorper. Mauris feugiat, metus in interdum blandit, urna diam blandit tellus, lobortis euismod lacus velit in lorem. Maecenas quis mollis massa. Aenean sit amet nunc non sapien vestibulum commodo. Suspendisse eget elementum nunc.</p>
        <p>Vestibulum posuere laoreet malesuada. Suspendisse metus mi, aliquam ac ullamcorper id, venenatis commodo turpis. Nam felis dui, accumsan at egestas eu, feugiat fringilla enim. Mauris ac mi eu neque suscipit tristique vitae a quam. Nulla facilisi. Pellentesque consectetur condimentum augue, et <a href="#">adipiscing</a> velit ultrices sed. In a sapien id nulla varius volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>In ipsum odio, volutpat adipiscing venenatis id, ultrices quis dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur <a href="#">ridiculus mus</a>. Maecenas a sapien lectus, at aliquet orci. Nunc aliquet tincidunt mattis. Phasellus pharetra vulputate auctor. Suspendisse ornare ultricies ultricies. Etiam viverra neque vel urna convallis vestibulum. Cras interdum erat eget nibh <a href="#">sollicitudin placerat</a>.</p>
      </div>
      <div class="clearfix">
        <div class="article-social">
          <i class="icon icon-facebook-sign"></i>
          <i class="icon icon-twitter-sign"></i>
          <i class="icon icon-google-plus-sign"></i>
        </div>
        <div class="article-comments-callout">0 <i class="icon icon-comments"></i></div>
      </div>
    </article>
    <hr>
      <article class="article clearfix">
      <header>
        <hgroup>
          <h1 class="article-title"><a class="secondary" href="#">Baby Steps? Not Anymore.</a></h1>
          <h5 class="article-subtitle">BlackWaltz implicated in baby toe-eating scandal.</h5>
        </hgroup>
        <div class="article-author-info muted">by <span class="article-author">Zerack</span> - <span class="article-pubdate">May 6, 2013, 9:31AM EDT</span></div>        
      </header>
      <div class="article-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Phasellus convallis</a> sagittis massa, non placerat nunc porttitor eget. Etiam porta erat eu turpis egestas eu gravida lectus volutpat. Proin mattis sollicitudin ullamcorper. Mauris feugiat, metus in interdum blandit, urna diam blandit tellus, lobortis euismod lacus velit in lorem. Maecenas quis mollis massa. Aenean sit amet nunc non sapien vestibulum commodo. Suspendisse eget elementum nunc.</p>
        <p>Vestibulum posuere laoreet malesuada. Suspendisse metus mi, aliquam ac ullamcorper id, venenatis commodo turpis. Nam felis dui, accumsan at egestas eu, feugiat fringilla enim. Mauris ac mi eu neque suscipit tristique vitae a quam. Nulla facilisi. Pellentesque consectetur condimentum augue, et <a href="#">adipiscing</a> velit ultrices sed. In a sapien id nulla varius volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>In ipsum odio, volutpat adipiscing venenatis id, ultrices quis dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur <a href="#">ridiculus mus</a>. Maecenas a sapien lectus, at aliquet orci. Nunc aliquet tincidunt mattis. Phasellus pharetra vulputate auctor. Suspendisse ornare ultricies ultricies. Etiam viverra neque vel urna convallis vestibulum. Cras interdum erat eget nibh <a href="#">sollicitudin placerat</a>.</p>
      </div>
      <div class="clearfix">
        <div class="article-social">
          <i class="icon icon-facebook-sign"></i>
          <i class="icon icon-twitter-sign"></i>
          <i class="icon icon-google-plus-sign"></i>
        </div>
        <div class="article-comments-callout">3 <i class="icon icon-comments"></i></div>
      </div>
      <div class="article-comments">
        <div class="add-comments">
          <textarea></textarea>
          <div style="text-align: right">
            <button class="btn btn-tertiary"><i class="icon icon-comment"></i> Comment</button>
          </div>
        </div>
        <div class="comment">
          <div class="user">BlackWaltz</div>
          <div class="when">6 hours ago</div>
          <div class="comment-text"><p>I think this article sucks. I can't believe that you would do this to me, while I'm still playing professionally.</p><p>Get a job, basement-dweller.</p></div>
        </div>
          <hr>
        <div class="comment">
          <div class="user">Zerack</div>
          <div class="when">8 hours ago</div>
          <div class="comment-text"><p>Well, it's too bad you don't like the article. But, the facts are the facts. You eat babies and you lie about it. I think the Tribes community should know about this behavior.</p></div>
        </div>
        <hr>
        <div class="comment">
          <div class="user">BlackWaltz</div>
          <div class="when">1 day ago</div>
          <div class="comment-text"><p>Whoa whoa. There's absoltely no proof of any of this. Sure you have "evidence" and "pictures" like at <a href="#">http://daneatssmallbabies.com</a>, but just look at Terry Schaivo. That means nothing!</p><p>Take this down immediately. If you don't, I will call my high-powered lawyer, and he has sued many people for me. HE WILL GET YOU</p></div>
        </div>
      </div>
    </article>
  </div>
{% endblock %}

{% block scripts %}
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script type="text/javascript">
    // Makes Angular aware of the Static URL from which static resources are served.
    // This way, if we choose not to prepend this, we can server partials via the 
    // Django template engine if we so choose.
    _ngsu = '{{ STATIC_URL }}';
  </script>
  <script src="{{ STATIC_URL }}lib/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  <script src="{{ STATIC_URL }}js/services.js"></script>
  <script src="{{ STATIC_URL }}js/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/filters.js"></script>
  <script src="{{ STATIC_URL }}js/directives.js"></script>
{% endblock %}